<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Note</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Ajout</display-name>
    <servlet-name>Ajout</servlet-name>
    <servlet-class>note.Ajout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajout</servlet-name>
    <url-pattern>/Ajout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Supprimer</display-name>
    <servlet-name>Supprimer</servlet-name>
    <servlet-class>note.Supprimer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Supprimer</servlet-name>
    <url-pattern>/Supprimer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Voir</display-name>
    <servlet-name>Voir</servlet-name>
    <servlet-class>note.Voir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Voir</servlet-name>
    <url-pattern>/Voir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modifier</display-name>
    <servlet-name>Modifier</servlet-name>
    <servlet-class>note.Modifier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modifier</servlet-name>
    <url-pattern>/Modifier</url-pattern>
  </servlet-mapping>
</web-app>